# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.idea
.c9/
.settings/
.idea/gradle.xml
.idea/libraries

# Logs
logs

# Dependency directories
node_modules/
jspm_packages/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.ear

# Gradle
.gradle
**/build/
!src/**/build/
*.class
*.aar
!gradle-wrapper.jar
