# See http://help.github.com/ignore-files/ for more about ignoring files.

# Gradle
.gradle
**/build/
!src/**/build/

# IDEs and editors
.idea
.c9/
.settings/

# Logs
logs

# Dependency directories
node_modules/
jspm_packages/

# Mobile Tools for Java (J2ME)
.mtj.tmp/